# Глобальні власники коду
* @Микола

# Власники специфічних директорій
/src/app/ @Микола
/src/components/ @Микола
/src/styles/ @Микола

# Власники конфігураційних файлів
*.json @Микола
*.yml @Микола
*.yaml @Микола

# Власники документації
/docs/ @Микола
*.md @Микола 